$bg-body:#fff;
$bg-button-color: #699900;
$header-text-color:#2c2f3c;
$section-card-bg: #21232e;
$section_card_text-color: #c0c3ce;
$highlight: #14a0c7;
$gradient: linear-gradient(65deg, #699903, #2d5bdb);
$bg-footer: #21232e;
$header-image: url(../img/m-h-day.jpg) no-repeat;
$heading-font-family: 'Source Sans Pro', sans-serif;
$text-font-family: 'Source Sans Pro', sans-serif;
$logo-big-text: 'Hind', sans-serif;
$logo-small-text: 'Source Sans Pro', sans-serif;
$logo-font-size: 24px;
$logo-header-color: #2c2f3c;
$logo-footer-color: #c0c3ce;
$header-text-bg: rgba(255, 255, 255, .5);