$bg-body: #21232e;
$bg-button-color: #e3ac00;
$header-text-color: #fff;
$section-card-bg: #3b3f50;
$section_card_text-color: #c0c3ce;
$highlight: #ff4e33;
$gradient: linear-gradient(65deg, #e2ab02, #922c53);
$bg-footer: #3b3f50;
$header-image: url(../img/m-h-night.jpg) no-repeat;
$heading-font-family: 'Source Sans Pro', sans-serif;
$text-font-family: 'Fresca', sans-serif;
$logo-big-text: 'Fresca', sans-serif;
$logo-small-text: 'Fresca', sans-serif;
$logo-font-size: 30px;
$logo-header-color: #fff;
$logo-footer-color: #d1d1d1;
$header-text-bg: rgba(0, 0, 0, .5);
